[rng]
  seed= 0b

[output]
svg fname = /tmp/maze11.svg
blender fname = /tmp/maze11.py
mesh name = maze11

[maze dimensions]
inner radius = 12.5
groove radius = 14
maze outer radius = 16
bottom z = -14
top z = 68.05
#pocket z =  bottom z + 2.0
grip top = -10
cap outer radius = 19
